#divMid {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #eee;
	display: inline-block;
	
}

#title {
	font-size: 5em;
}

p {
	font-size: 1.2em;
}

.container {
	width: 100%;
}

#divMid button {
	margin-top: 50px;
}

#loginID {
	margin-top: 50px;
}

#formLogin {
	text-align: left;

}