#divMid {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #eee;
	display: inline-block;
}

#title {
	font-size: 5em;
}

p {
	font-size: 1.2em;
}

.container {
	width: 100%;
}

#divMid button {
	margin-top: 50px;
}

#loginID {
	margin-top: 50px;
}

#formLogin {
	text-align: left;
}

#divRecherche {
	background-color: #eee;
	margin-top: 30px;
	margin-left: 50px;
	padding: 10px;
	width: 80%;
}

.divimg {
	width: 80%;
	height: 90%;
}

.divJeu {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.tailleImg {
	height: 300px;
}

